<?xml version="1.0"?>

<model>
  <name>WC3 Table</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Brennan Swick</name>
    <email>swick.70@osu.edu</email>
  </author>

  <description>
    A model of the table by the Motoman GP7 robot (as of 5/20/22) in the OSU AIMS Lab 
  </description>

</model>
